.wrapper,
.wrapper2,
.item {
  padding: 20px;
  color: white;
}

.wrapper {
  background-color: grey;
}

.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.wrapper2 {
  background-color: green;
}

.item {
  float: left;
  width: 150px;
}

.item1 {
  background-color: crimson;
}

.item2 {
  background-color: cyan;
}

.item3 {
  background-color: blueviolet;
}
