body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example {
  font-size: 30px;
  border: 1px solid black;
  width: 150px;
  min-height: 150px;

  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  word-wrap: break-word;
  word-break: break-all;
  writing-mode: vertical-rl;
}

.container {
  column-count: 3;
  column-rule: 1px solid black;
  column-width: 300px;
  column-gap: 100px;
}
