body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
table * {
  max-width: 600px;
  border: 1px solid black;
  border-collapse: separate;
  /* border-spacing: 10px; */
  caption-side: top;

  min-width: 100px;
  text-align: right;
  vertical-align: baseline;
  empty-cells: hide;
  cursor: pointer;
}

.dis,
td {
  pointer-events: none;
}
