body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  transition: all 1s ease;
}

img:hover {
  /* filter: blur(2px); */
  /* filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.5)); */
  /* filter: grayscale(80%); */
  /* filter: brightness(150%); */
  /* filter: contrast(150%); */
  /* filter: hue-rotate(180deg); */
  /* filter: hue-rotate(180deg); */
  /* filter: invert(100%); */
  /* filter: saturate(165%); */
  /* filter: sepia(100%); */
  /* filter: opacity(50%); */
  /* filter: url(#toSvg); */
  filter: blur(2px) brightness(150%);
}
