body {
  padding: 10px 30px;
  margin: 0;
  height: 100vh;
  background-color: lightgrey;
  font-size: 24px;
  font-family: monospace;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    background-color: aqua;
  }
}

@media screen and (orientation: portrait) {
  h1 {
    display: none;
  }
}

@media print {
  body {
    color: blue;
  }
}
